body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: Helvetica, sans-serif;
  background-image: url(img/background.png);
}

header {
  font-size: 4.75em;
  font-family: "Math Time!", sans-serif;
  margin: 10px;
  color: rgb(44, 42, 42);
}

footer {
  padding-top: 15px;
  font-size: 0.90em;
  text-align: center;
}

.calculator {
  height: 75vh;
  width: 42vw;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0 20px 0;
  background-color: gray;
  gap: 5px;
}

.screen {
  height: 20vh;
  width: 37vw;
  background-color: lightgray;
  border-radius: 8px;
  border: 3px solid rgba(96, 95, 95, 0.879);
  font-size: 5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.displayLine {
  padding-right: 10px;
  font-family: 'LCD Solid', sans-serif;
  color: rgb(44, 42, 42);
  font-size: 3.75rem;
  max-width: 35vw;
  max-height: 18vh;
  text-align: right;
  overflow: auto;
}

.buttons {
  width: 37vw;
  height: calc(80vh - 50px);
  border-radius: 8px;
  display: grid;
  grid-template-columns: 22% 22% 22% 22%;
  gap: 10px;
  justify-content: center;
  padding: 10px;
}

.buttons > button {
  height: 10vh;
  border-radius: 8px;
  font-size: 2rem; 
}

#equalsBtn {
  width: calc(37vw * 0.462)
}

#clearBtn {
  border-radius: 50%;
  background-color: rgb(195, 80, 80);
}

#backspaceBtn {
  background-color: rgb(224, 180, 96);
}

.operator {
  background-color: rgb(224, 224, 168);
}

.number {
  background-color: rgb(174, 197, 222);
}

#equalsBtn {
  background-color: rgba(123, 197, 123, 0.772);
}

.is-depressed {
  filter: invert(100%);
}

/* Styles for small screens (mobile devices) */
@media (max-width: 767px) {
  header {
    font-size: 3em;
  }

  .calculator {
    height: auto;
    width: 90vw;
    padding: 20px 0;
  }

  .screen {
    height: 15vh;
    width: 80vw;
    font-size: 3rem;
  }

  .displayLine {
    font-size: 2.5rem;
    max-width: 75vw;
  }

  .buttons {
    width: 80vw;
    height: auto;
    grid-template-columns: repeat(4, 22%);
  }

  .buttons > button {
    height: 8vh;
    font-size: 1.5rem;
  }

  #equalsBtn {
    width: 220%;
  }
}

/* Styles for medium screens (tablets) */
@media (min-width: 768px) and (max-width: 1023px) {
  header {
    font-size: 4em;
  }

  .calculator {
    height: 70vh;
    width: 60vw;
  }

  .screen {
    width: 55vw;
    font-size: 4rem;
  }

  .displayLine {
    font-size: 3rem;
    max-width: 53vw;
  }

  .buttons {
    width: 55vw;
    grid-template-columns: repeat(4, 22%);
  }

  .buttons > button {
    font-size: 2rem;
  }

  #equalsBtn {
    width: 220%;
  }
}